# 爱发电开发者id
AFDIAN_USER_ID=
# 爱发电开发者token
AFDIAN_TOKEN=
# 你的 new-api 网址
NEW_API_BASE_URL=
# new-api 管理员的访问令牌
NEW_API_ADMIN_TOKEN=
# 默认给的额度(订单金额解析失败时使用)
DEFAULT_QUOTA=
# 额度比率
QUOTA_RATE=
# 爱发电公钥, 可在官方文档中找到
AFDIAN_PUBLIC_KEY=